@import "../../scss/colors";

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .button {
    &.MuiButton-root {
      // min-height: 40px;
      .MuiButton-label {
        text-transform: initial;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: $light-87;
        font-weight: normal;
      }

      &.active {
        .MuiButton-label {
          color: $primary;
        }
      }
    }
  }

  @media screen and(min-width: 1024px) {
    justify-content: space-between;
  }
}
