@import "../../scss/colors";

.tabs {
  background: $surface-9;
  box-shadow: $elevation-9;
  width: 100%;

  &.MuiTabs-root {
    .MuiTabs-flexContainer {
      flex: 1;

      .MuiTab-root {
        flex: 1;
        padding: 6px;
        max-width: unset;
      }
    }
  }
}
