@import "../../scss/colors";

.episode-list__item {
  width: 100%;
  padding: 0;
  background: $surface-5;
  display: flex;
  justify-content: flex-start;
  color: $light-87 !important;
  min-height: 250px;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;

  @media screen and (min-width: 600px) {
    min-height: 166px;
    flex-direction: row;
    align-items: flex-start;
  }

  &:hover {
    background: $surface-7;
  }

  a {
    color: $light-87 !important;
  }

  &__display {
    padding: 16px 0;

    @media screen and (min-width: 600px) {
      padding: 16px 0 16px 16px;
    }
  }

  &__image {
    width: 150px;
    min-width: 150px;
    display: flex;
    margin-bottom: 16px;

    img {
      object-fit: cover;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__text {
    padding: 16px;
  }

  &__title,
  &__content {
    text-align: left;
    color: $light-87;
    font-size: 12px;
    width: 100%;
    white-space: break-spaces;
    word-break: break-word;
    line-height: 18px;
    text-align: center;

    @media screen and (min-width: 600px) {
      text-align: left;
    }
  }

  &__content {
    text-transform: initial;
    font-weight: 300;
    padding: 0;
    margin: 16px 0 0 0;

    br + br {
      display: none;
      font-size: 0;
      line-height: 0;
      max-height: 0;
    }

    // a[rel="noopener noreferrer"] {
    //   display: none;
    // }
  }

  &:hover {
    background: $surface-7;
  }

  &.highlighted {
    border: 1px solid $primary;
  }
}
