@import '../../scss/colors';

.episode-list__item {
  width: 100%;
  background: $surface-5;
  display: flex;
  justify-content: flex-start;
  color: $light-87 !important;
  min-height: 256px;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 16px 16px 0;
  overflow: hidden;

  @media screen and (min-width: 600px) {
    min-height: initial;
    flex-direction: row;
    align-items: initial;
    padding: 0;
    min-height: 114px;
  }

  &:hover {
    background: $surface-7;
  }

  a {
    color: $light-87 !important;
  }

  &__image {
    width: 112px;
    min-width: 112px;
    display: flex;
    border-radius: 4px;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }

  &__title,
  &__content,
  &__duration {
    width: 100%;
    white-space: break-spaces;
    word-break: break-word;
    text-align: center;

    @media screen and (min-width: 600px) {
      text-align: left;
    }
  }

  &__title.text,
  &__display {
    margin-bottom: 16px;
  }

  &__display,
  &__duration {
    @media screen and (min-width: 600px) {
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 15px;
    margin-bottom: 6px;
    font-weight: 500;
    line-height: 18px;

     
    @media screen and (min-width: 600px) {
      flex: 1;
    }
  }

  &__duration {
    font-size: 13px;
  }

  &__text {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 600px) {
      padding: 16px;
      flex: 1;
    }
  }

  &__actions {
    display: flex;
    gap: 16px;
    padding: 16px;

    .button {
      min-width: 36px;
      padding: 0;
    }

    @media screen and (min-width: 600px) {
      flex-direction: column;
      justify-content: center;
      gap: 8px;
    }
  }

  &__content {
    text-transform: initial;
    font-weight: 300;
    padding: 0;
    margin: 16px 0 0 0;
    color: $light-87;
    font-size: 12px;
    line-height: 18px;

    br + br {
      display: none;
      font-size: 0;
      line-height: 0;
      max-height: 0;
    }
  }

  &:hover {
    background: $surface-7;
  }

  &.highlighted {
    border: 1px solid $primary;
  }
}
