@import "../../scss/colors";

.collection-detail {
  &.screen {
    padding-top: 40px;
  }

  &__search-bar {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    background: $surface-0;
    position: sticky;
    top: -1px;
    z-index: 1;
    padding-top: 16px;

    .search-bar {
      margin-left: 16px;
    }
  }

  .episode-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
