@import "../../scss/colors";

.list-loader {
  width: 100%;

  &__item {
    background: $surface-9;
    box-shadow: $elevation-9;
    transition: all 600ms ease-in-out;
    opacity: 0.3;

    &--active {
      opacity: 1;
    }
  }

  &--list {
    .list-loader__item {
      height: 340px;
      width: 100%;
      border-radius: 4px;
      margin-bottom: 16px;

      &:last-of-type {
        margin-bottom: 0;
      }

      @media screen and (min-width: 600px) {
        height: 166px;
      }
    }
  }

  &--grid {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;

    @media screen and (min-width: 360px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 600px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(6, 1fr);
    }

    .list-loader__item {
      padding-top: calc(100% + 37.16px);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
