@import '../../scss/colors';

.screen-empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    margin-bottom: 30px;
  }

  .text {
    color: $text-87;
    letter-spacing: 0.5px;
    font-size: 16px;
    line-height: 24px;
  }
}
