.podcast-detail {
  padding-bottom: 80px;
  @media screen and(min-width: 1200px) {
    display: flex;
    align-items: flex-start;
  }

  &__meta {
    margin-bottom: 60px;

    @media screen and(min-width: 600px) {
      display: flex;
    }

    @media screen and(min-width: 1200px) {
      flex-direction: column;
      margin-right: 20px;
      position: sticky;
      top: 88px;
      margin-bottom: 20px;
    }
  }

  &__list {
    margin-bottom: 50px;
    position: relative;
    flex: 1;

    @media screen and(min-width: 600px) {
      margin-bottom: 60px;
    }

    @media screen and(min-width: 1200px) {
      margin-bottom: 40px;
    }

    &:after {
      content: '';
      height: 20px;
      width: 120px;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.025);
      display: flex;
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translate(-50%, 100%);

      @media screen and(min-width: 1200px) {
        transform: translate(-50%, 0);
      }
    }
  }

  &__card {
    overflow: hidden;
    width: calc(100vw - 48px);
    background-color: rgba(255, 255, 255, 0.025) !important;
    box-shadow: none !important;

    &.description {
      margin-top: 20px;

      @media screen and(min-width: 600px) {
        margin-top: 0;
        margin-left: 20px;
        flex: 1;
        align-self: flex-start;
      }

      @media screen and(min-width: 1200px) {
        margin-top: 20px;
        margin-left: 0;
        flex: unset;
      }
    }

    @media screen and(min-width: 600px) {
      width: 240px;
    }
  }

  &__image {
    width: calc(100vw - 48px);
    height: calc(100vw - 48px);

    @media screen and(min-width: 600px) {
      height: 240px;
      width: 240px;
    }
  }

  &__item-card {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.025) !important;
    box-shadow: none !important;

    &:hover {
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
    }
  }

  &__item-image {
    width: 80px;
    height: 80px;
    min-width: 80px;
    align-self: flex-start;
    display: none !important;
    margin: 20px;
    margin-right: 0;

    @media screen and(min-width: 600px) {
      display: flex !important;
    }
  }

  &__action-area {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
}
