@import "../../scss/colors";

.search-bar {
  display: flex;
  flex: 1;
  flex-direction: row;

  .input,
  .autocomplete {
    &.MuiFormControl-root,
    &.MuiAutocomplete-root {
      flex: 1;
      margin-right: 16px;
    }
  }

  .button {
    &.MuiButtonBase-root {
      min-width: 72px;
    }
  }
}
