@import "../../scss/colors";

.MuiDrawer-paper {
  &.MuiPaper-root {
    background: $surface-15;
    box-shadow: $elevation-15;
    min-height: 100vh;
  }
}

.drawer {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 304px;
    padding: 16px 0;
  }

  &__button {
    &.MuiButtonBase-root {
      min-width: 36px;
      padding: 0;
    }
  }

  &__user {
    padding: 0 16px 16px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $light-12;
    margin-bottom: 4px;

    .avatar {
      &__name {
        margin-left: 16px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
      }
    }
  }

  &__menu {
    width: 100%;

    nav {
      display: flex;
      flex-direction: column;

      .button {
        &.MuiButton-root {
          border-radius: 0;
          justify-content: flex-start;
          min-height: 48px;

          &.active {
            background-color: rgba($primary, 0.08);
          }

          .MuiButton-label {
            text-transform: initial;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: $light-60;
          }
        }
      }
    }
  }
}
