@import "../../scss/colors";

.playlist {
  &__button {
    &.MuiButtonBase-root {
      min-width: 36px;
      padding: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 440px;
    padding: 0;

    .episode-list__item {
      border-radius: 0;
      cursor: pointer;
      flex-direction: row;
      padding: 16px;
      min-height: initial;
      margin-bottom: 1px;

      @media screen and (min-width: 600px) {
        min-height: initial;
        align-items: center;
      }

      &__display {
        padding: 0;
      }

      &__content {
        display: none;
      }

      &__actions {
        display: none;
      }

      &__image {
        min-width: 60px;
        width: 60px;
        margin: 0;
      }

      &__title {
        font-size: 14px;
        text-align: left;
        line-height: 18px;
      }

      &__text {
        padding: 0;
        padding-left: 16px;
      }
    }
  }
}
