@import "../../scss/colors";

.file-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 64px 0;
  transition: all 800ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &__box {
    margin-top: 64px;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 58px 16px 64px 16px;
    flex: 1;
    width: 100%;
    border: 2px dashed $light-38;
    border-radius: 4px;

    @media screen and (min-width: 1024px) {
      padding: 65px 16px 56px 16px;
    }

    &__icon {
      margin-bottom: 18px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-height: 40vh;
        object-fit: contain;
      }
    }

    &__description {
      margin-bottom: 10px;

      .text {
        margin-bottom: 6px;
      }
    }

    input {
      display: none;
    }
  }

  &--open {
    padding-bottom: 327px;
  }
}
