@import "../../scss/colors";

.date-picker {
  &.MuiFormControl-root {
    .MuiInputBase-root {
      // padding-left: 0;

      .MuiButtonBase-root {
        padding: 2px;
        margin-right: -5px;

        .MuiSvgIcon-root {
          fill: $light-60;
        }
      }
    }
  }
}
