@import "../../scss/colors";

.app-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__spinner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
}
