@import "../../scss/colors";

.file-uploader-modal {
  &.modal {
    padding: 0;
  }

  .modal {
    &__paper {
      height: 100vh;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: initial;
      overflow-y: auto;
      transition: all 800ms cubic-bezier(0.075, 0.82, 0.165, 1) !important;
      padding-bottom: 32px;

      @media screen and (min-width: 1024px) {
        max-width: 770px;
        height: calc(100vh - 128px);
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__description {
    margin-bottom: 24px;
  }

  &__uploader {
    background-color: $dark-20;
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .file-uploader {
      padding: 50px 16px;
      // padding: 0;
      height: 100%;
      &__box {
        margin: 0;
        border: none;
        padding: 0;
      }
    }
  }

  &--queue-is-visible {
    .modal__paper {
      padding-bottom: 86px;

      @media screen and (min-width: 1024px) {
        margin-bottom: 54px;
        height: calc(100vh - 128px - 54px);
        padding-bottom: 32px;
      }

      // @media screen and (min-width: 1680px) {
      //   margin-bottom: 0;
      //   height: calc(100vh - 128px);
      // }
    }
  }

  &--queue-is-open {
    .modal__paper {
      padding-bottom: 359px;

      @media screen and (min-width: 1024px) {
        padding-bottom: 32px;
        margin-bottom: 327px;
        height: calc(100vh - 128px - 327px);
      }

      // @media screen and (min-width: 1680px) {
      //   margin-bottom: 0;
      //   height: calc(100vh - 128px);
      // }
    }
  }
}
