@import "../../scss/colors";

.collection-list__item {
  padding: 0;
  background: $surface-12;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 64px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid transparent;

  &:hover {
    background: $surface-16;

    .collection-list__item__actions {
      opacity: 1;
    }
  }

  &__image {
    display: flex;
    width: 100%;
    cursor: pointer;
  }

  &__actions {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $surface-0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: 200ms ease-in-out;
    opacity: 0;

    .button {
      min-width: 36px;
      padding: 0;
    }
  }

  &__title {
    padding: 10px;
    color: $light-87;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    margin-top: auto;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
  }
}
