.player-wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba(#2a2a2a, 0.97);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: all 200ms ease-in-out;
  padding: 0;

  @media screen and(min-width: 600px) {
    padding: 0 20px;
  }

  .player-controls {
    flex: 1;
  }

  .player-title {
    padding: 10px 15px;
    color: #868686;
  }

  .player-loader {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }

  .player-progress-bar {
    opacity: 0.1;
    height: 100%;
  }

  .rhap {
    &_container {
      background-color: transparent;
      box-shadow: none;
    }

    &_repeat-button {
      display: none;
    }

    &_time {
      color: #868686;
      font-family: Roboto;
      font-size: 14px;
    }
  }

  .player-image-wrapper {
    overflow: hidden;
    transition: all 200ms ease-in-out;
    width: 128px;
    min-width: 128px;
    height: 128px;
    display: none;

    @media screen and(min-width: 600px) {
      display: flex;
    }
  }

  .player-image {
    width: 100%;
    height: 100%;
    border: none;
  }
}
