@import '../../scss/colors';

.home {
  .collection-list {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;

    @media screen and (min-width: 360px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 600px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__favorites {
    margin-bottom: 40px;

    .home__title {
      margin-bottom: 16px;
    }
  }

  &__search-bar {
    padding-bottom: 16px;
    background: $surface-0;
    position: sticky;
    top: 64px;
    z-index: 1;
    padding-top: 16px;
  }
}
