@import "../../scss/colors";

.audio-player {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: $surface-9;
  box-shadow: $elevation-9;
  transform: translate3d(0, 100%, 0);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 9999;

  &.open {
    transform: initial;
  }

  &__body {
    width: 100%;

    @media screen and(min-width: 440px) {
      width: calc(100% - 120px);
    }
  }

  &__title {
    padding: 8px 10px 0;

    .text {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__image {
    min-width: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

    @media screen and(min-width: 440px) {
      display: flex;
    }
  }

  &__player {
    .rhap {
      &_container {
        background: $surface-9;
        box-shadow: none;

        button {
          color: $primary;
        }
      }

      &_progress-indicator,
      &_volume-indicator {
        background: $primary;
      }

      &_progress-indicator,
      &_volume-indicator {
        z-index: 3;
      }

      &_time {
        color: $primary;
        font-size: 14px;
      }

      &_main-controls {
        margin-left: -63px;
      }

      &_repeat-button {
        display: none;
      }
    }
  }
}
