body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  min-height: 100vh;
  background-color: #212121;
}

a {
  text-decoration: none;
  color: #868686;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  word-break: break-word;
}

.screen-loader {
  height: calc(100vh - 240px) !important;
  opacity: 0.05;
  border-radius: 4px;
  overflow: hidden;
}

.screen-title {
  margin-bottom: 30px;
  font-size: 22px;
  width: 100%;
  font-weight: 100;
  color: #868686;
  opacity: 0.75;
  text-align: center;

  @media screen and(min-width:600px ) {
    font-size: 30px;
  }
}
