@import "../../scss/colors";

.bottom-bar {
  &.MuiAppBar-root {
    background: $surface-9;
    box-shadow: $elevation-9;
    bottom: 0;
    top: initial;
  }

  &__content {
    transition: all 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    align-items: center;
    min-height: 64px;
    justify-content: flex-end;
    width: 100%;
  }

  &--upload-queue-is-visible {
    .bottom-bar__content {
      padding-right: 380px;
    }
  }
}
