@import "../../scss/colors";

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .MuiContainer-root {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1024px) {
      justify-content: center;
    }
  }

  &__image {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 56px;

    @media screen and (min-width: 1024px) {
      flex: unset;
      margin-bottom: 56px;
    }

    svg {
      @media screen and (min-width: 1024px) {
        width: 532px;
        height: 166px;
      }
    }

    .calendar-search-icon {
      @media screen and (min-width: 1024px) {
        width: 304px;
        height: 362px;
      }
    }
  }

  &__title {
    &.text {
      margin-bottom: 24px;
    }
  }

  &__description {
    &.text {
      margin-bottom: 48px;

      @media screen and (min-width: 1024px) {
        flex: unset;
        margin-bottom: 72px;
      }
    }
  }
}
